<div class="d-flex justify-content-center align-items-center px-4 mw-100 vw-100 mh-100 vh-100">
  <div id="content" class="d-flex vw-25 text-center flex-column">
    <h1>😞</h1>
    <h2 class="fw-bolder">Strona nie została znaleziona</h2>
    <span class="py-1"></span>
    <div>Strona, której szukasz, nie istnieje lub została znajduje się pod innym adresem</div>
    <span class="py-1"></span>
    <button mat-button class="fs-5" [routerLink]="['']">
      <mat-icon>keyboard_arrow_left</mat-icon> Powrót do strony głównej
    </button>
  </div>
</div>
